on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tag variable
        id: tag
        run: |
          echo "tag_name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/tranzianet/tranzia:${{ steps.tag.outputs.tag_name }} \
            -t ghcr.io/tranzianet/tranzia:latest \
            .

      - name: Push Docker image
        run: |
          docker push ghcr.io/tranzianet/tranzia:${{ steps.tag.outputs.tag_name }}
          docker push ghcr.io/tranzianet/tranzia:latest
